<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <md-card class="example-card">
        <md-card-header>
          <md-card-title>Title</md-card-title>
          <md-card-subtitle>Sub Title</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency
            injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers
            developers to build applications that live on the web, mobile, or the desktop.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Submit</button>
          <button md-button>Reset</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
