<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <md-card>
        <button md-raised-button color="primary" (click)='showSuccess()'>Success</button>
        <button md-raised-button color="accent" (click)='showError()'>Error</button>
        <button md-raised-button color="warn" (click)='showWarn()'>Warn</button>
        <button md-raised-button color="foreground" (click)='showInfo()'>Info</button>
        <button md-raised-button color="background" (click)='showAlert()'>Alert</button>
      </md-card>
    </div>
  </div>
</div>
