.container {
  width: 100%;
}

.row {
  margin-top: 15px;
}

.mat-select {
  width: 100%;
}

.mat-input-container textarea {
  height: 90px;
}

.sex-section {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 60px;
  .sex-margin {
    margin: 0 10px 0 0;
  }
}

.textarea-label {
  color: #aaa;
  margin-bottom: 10px;
}

.action-btn {
  text-align: center
}
