.container {
  width: 100%;
}

.row {
  margin-top: 15px;
}

.mat-select {
  width: 100%;
}

.mat-input-container textarea {
  height: 90px;
}

.textarea-label {
  color: #aaa;
  margin-bottom: 10px;
}

.action-btn {
  display: flex;
  justify-content: center;
  padding-right: 15px;
}
