.box {
  width: 15vw;
  float: left;
  height: 100vh;
  background-color: #fff;
  width: 260px;
  md-card {
    height: 100vh;
    padding: 0;
  }
  h4 {}
}

.sidebar-header {
  position: relative;
  text-align: center;
  background-image: url('../../../assets/img/sidebar_bg.png');
  background-size: auto 100%;
  padding: 10px;
  color: #fff;
  button {
    position: absolute;
    right: 0;
  }
}

.avatar {
  display: inline-block;
  background-image: url('../../../assets/img/Angular.jpg');
  background-size: cover;
  transform: rotate(360deg);
  animation: rotation 3s linear infinite;
}

.accordion {
  position: relative;
  .menu-child {
    position: absolute;
    top: 33px;
    left: 40px;
    background-color: #fff;
  }
}

.box.minify {
  animation: minify .3s linear both;
  .sidebar-header {
    &>h4 {
      animation: fadeOut .2s linear both;
    }
    button {
      animation: buttonMove .3s linear both;
    }
  }
  .accordion {
    .menu-child {
      top: 0;
      left: 50px;
    }
  }
}

.box.magnify {
  animation: magnify .3s linear;
  animation-fill-mode: both;
  .sidebar-header {
    &>h4 {
      animation: fadeIn .2s linear .1s both;
    }
    button {
      animation: buttonBack .3s linear both;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes minify {
  from {
    width: 260px;
  }
  to {
    width: 60px;
  }
}

@keyframes magnify {
  from {
    width: 50px;
  }
  to {
    width: 260px;
  }
}

@keyframes buttonMove {
  from {
    top: 0;
    right: 0;
    transform: rotate(0deg);
  }
  to {
    top: 50px;
    right: 10px;
    transform: rotate(180deg);
  }
}

@keyframes buttonBack {
  from {
    top: 50px;
    transform: rotate(180deg);
  }
  to {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
