.box {
  width: 15vw;
  height: 100vh;
  background-color: #fff;
  width: 260px;
  md-card {
    height: 100vh;
    padding: 0;
  }
}

.sidebar-header {
  position: relative;
  text-align: center;
  background-image: url('../../../assets/img/sidebar_bg.png');
  background-size: auto 100%;
  padding: 10px;
  color: #fff;
  button {
    position: absolute;
    right: 0;
  }
}

.avatar {
  display: inline-block;
  background-image: url('../../../assets/img/Angular.jpg');
  background-size: cover;
  transform: rotate(360deg);
  animation: rotation 3s linear infinite;
}

.menu {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 260px;
  li>a {
    &.active {
      background-color: #3f51b5;
    }
    position: relative;
    display: block;
    padding: 10px 16px;
    color: #7d8286;
    text-decoration: none;
    box-sizing: border-box;
    span {
      display: inline-block;
      margin-left: 10px;
      height: 26px;
      vertical-align: text-bottom;
      font-size: 20px;
    }
  }
}

.accordion {
  .menu-child {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 260px;
    background-color: #fff;
    li>a {
      &.active {
        background-color: skyblue;
      }
    }
  }
}

.box.minify {
  animation: minify .3s linear both;
  .sidebar-header {
    &>h4 {
      animation: fadeOut .2s linear both;
    }
    button {
      animation: buttonMove .3s linear both;
    }
  }
  .menu {
    width: 60px;
    overflow: visible;
    &>li>a {
      &>span {
        opacity: 0;
        display: none;
        animation: fadeOut .2s linear;
      }
    }
  }
  .accordion {
    position: relative;
    .menu-child {
      width: 250px;
      position: absolute;
      top: 5px;
      left: 60px;
    }
  }
}

.box.magnify {
  animation: magnify .3s linear;
  animation-fill-mode: both;
  .sidebar-header {
    &>h4 {
      animation: fadeIn .2s linear .1s both;
    }
    button {
      animation: buttonBack .3s linear both;
    }
  }
  .menu {
    &>li>a {
      &>span {
        display: inline-block;
        animation: fadeIn .2s linear .1s both;
      }
    }
    .menu-child {
      &>li>a {
        padding-left: 50px;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes minify {
  from {
    width: 260px;
  }
  to {
    width: 60px;
  }
}

@keyframes magnify {
  from {
    width: 50px;
  }
  to {
    width: 260px;
  }
}

@keyframes buttonMove {
  from {
    top: 0;
    right: 0;
    transform: rotate(0deg);
  }
  to {
    top: 50px;
    right: 10px;
    transform: rotate(180deg);
  }
}

@keyframes buttonBack {
  from {
    top: 50px;
    transform: rotate(180deg);
  }
  to {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
