<div class="box" [ngClass]="{minify:ismMinify,magnify:!ismMinify}">
  <md-card>
    <div class="sidebar-header">
      <div md-card-avatar class="avatar"></div>
      <h4>foreverzmyer@gmail.com</h4>
      <button md-icon-button (click)='adjust()'><md-icon>arrow_back</md-icon></button>
    </div>
    <md-card-content>
      <ul class="menu">
        <ng-container *ngFor="let menu of menus">
          <li *ngIf='menu.data.sidebar'>
            <a [routerLink]="[menu.path]" [ngClass]="{active:activeBars[0] === menu.path}">
              <md-icon md-list-icon>{{ menu.data.icon }}</md-icon>
              <span md-line>{{ menu.data.label }}</span>
            </a>
          </li>
          <li *ngIf='!menu.data.sidebar' class="accordion" (mouseover)="showMenu(menu.path)" (mouseout)="hideMenu(menu.path)">
            <a (click)='toogle(menu.path)' [ngClass]="{active:activeBars[0] === menu.path}">
              <md-icon md-list-icon>{{ menu.data.icon }}</md-icon>
              <span md-line>{{ menu.data.label }}</span>
            </a>
            <!-- 二级菜单 -->
            <ul class="menu-child" [ngClass]='{ hidden : open!==menu.path }'>
              <li *ngFor='let child of menu.children'>
                <a [routerLink]="[menu.path+'/'+child.path]" [ngClass]="{active:activeBars[1] === child.path}">
                  <md-icon md-list-icon>{{ child.data.icon }}</md-icon>
                  <span md-line>{{ child.data.label }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </md-card-content>
  </md-card>
</div>
